.Board {
    position: relative;

    width: 100vw;
    height: 100vw;
    max-width: 100vh;
    max-height: 100vh;
    min-width: 600px;
    min-height: 600px;

    margin: auto;

    background-color: #d3b17d;
    box-shadow: 16px  16px #d3b17d;
}