.footer {
    padding: 24px;
}

.footer__content {
    display: flex;
}

.footer__link {
    display: flex;
    margin: 16px;
    align-items: center;
}

.footer__github-icon {
    width: 20px;
    height: 20px;
    margin-right: 4px;
}